.mytextfield {
	width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.myRegTextfield
{
	width: 100%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.mySummarytextfield
{
	width: 50%;
	height:50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.myradio
{
	width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
    text-align: justify;
}

.urlCSS {
	color: blue;
	font-size: xx-large;
	width: 10%;
	text-align: center;
}

.formCSS {
	color: green;
	font-size: xx-large;
	width: 100%;
	margin: 8px 0;
	box-sizing: border-box;
	text-align: justify;
}

.formRegCSS
{
	
}

.submitCSS {
	width: 50%;
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}